<div class="col-auto background">
  <h4>Legende</h4>
  <div class="structogramm-method">
    <p>
      Methode
    </p>
    <div class=" structogramm command">
      <p>
        Anweisung
      </p>
    </div>
    <div class="structogramm loop">
      <p>Schleife</p>
      <div class=" structogramm command">
        <p>
          Anweisung in Schleife
        </p>
      </div>
    </div>
    <div class="condition condition-boarder">
      <p>Bedingung</p>
      <div class="row condition-row">
        <div class="col condition-true condition-true-boarder">
          <p>Wahr</p>
        </div>
        <div class="col condition-false condition-false-boarder">
          <p>Falsch</p>
        </div>
      </div>
      <div class="row condition-row">
        <div class="col condition-true condition-true-boarder">
          <p>Anweisung (wahr)</p>
        </div>
        <div class="col condition-false condition-false-boarder">
          <p>Anweisung (falsch)</p>
        </div>
      </div>
    </div>
  </div>
</div>
