<div class="modal-header modal-block-primary">
  <h4 class="modal-title">Seite verlassen?</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
</div>
<div class="modal-body clearfix">
  <div class="modal-text">
    <p>Wenn du die Seite verlässt, geht dein Fortschritt verloren.</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn  btn-default" (click)="leave(true)">Ja</button>
  <button class="btn btn-primary" (click)="leave(false)">Nein</button>
</div>
