<div class="container">
  <div class="center jumbotron">
    <div class="mb-3">
      <h2>Bedingungen</h2>
    </div>
    <h5>Durch die Verwendung von Bedingungen, können bestimmte Zustände überprüft werden. Der Programmfluss wird dann aufgeteilt, sodass verschiedene Anweisungen ausgeführt werden
      können. </h5>
    <div class="row justify-content-center mt-4">
      <div class="col-auto" *ngFor="let i of [0,1,2,3,4]">
        <div class="row justify-content-center">
          <div class="col-auto">
            <i class="fas fa-ticket-alt" *ngIf="i!==3"></i>
            <i class="fas fa-times" *ngIf="i===3"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <i class="fas fa-car fa-2x"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-around mt-3">
      <div class="col-auto">
        <div class="row justify-content-center mt-3">
          <div class="structogramm-boader col-auto">
            <div class="structogramm command">
              <p> Zum ersten Auto gehen</p>
            </div>
            <div class="structogramm loop">
              <p> Solange weitere Autos vorhanden sind</p>
              <div class="structogramm command">
                <p> Parkticket prüfen</p>
              </div>
              <div class="condition condition-boarder">
                <p> Parkticket vorhanden</p>
                <div class="row condition-row">
                  <div class="col condition-true condition-true-boarder">
                    <p> Wahr</p>
                  </div>
                  <div class="col condition-false condition-false-boarder">
                    <p> Falsch</p>
                  </div>
                </div>
                <div class="row condition-row">
                  <div class="col condition-true condition-true-boarder">
                    <p></p>
                  </div>
                  <div class="col condition-false condition-false-boarder">
                    <p> Straffzettel ausstellen</p>
                  </div>
                </div>
              </div>
              <div class="structogramm command">
                <p> Zum nächsten Auto gehen</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <button type="button" class="btn btn-success" [routerLink]="'/level4/game'">Weiter <i class="fas fa-check"></i></button>
      </div>
    </div>
  </div>
</div>
